<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726361486193-3ja5ggjipf432p7o5nu8296drrsp7g53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726361486193-3ja5ggjipf432p7o5nu8296drrsp7g53</string>
	<key>API_KEY</key>
	<string>AIzaSyAdZmpKAY9eA-hgALRiZhHk7tcNkuCaB4Y</string>
	<key>GCM_SENDER_ID</key>
	<string>726361486193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.empty</string>
	<key>PROJECT_ID</key>
	<string>budget-buddy-aac53</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-buddy-aac53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726361486193:ios:6a9e5443365f5afcccfcd0</string>
</dict>
</plist>